html {
    box-sizing: border-box;
    
}

*,
*::before,
*::after {
    box-sizing: inherit; /*
    border: 2px solid red; */
}

/* styling for the header section*/
.intro {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    
}

.header { 
    display: flex; 
    position: absolute;
    width: 70%
}


.logo {    
    color: white;
    margin: 0 0 0 0;
    align-self: center;
}
span {
    color: chartreuse;
}

nav {
    margin: 0 0 0 auto;
}

ul > li > a {
    text-decoration: none;
    color: #e5e7eb;
}

ul > li {
    margin: 5px;
    
}


ul {
    
    display: flex;
    list-style: none;
    font-size: 18px;
    margin: 5px;
}

.bodi {
    
    width: 70%;
    display: flex;
    margin: 150px 0;
}

.hero img {
    border-radius: 50px;
    height: 100%;
    width: 100%;
    background-color: darkgoldenrod;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.welcome h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    text-align: left;
    margin: 0;
}
.welcome p {
    color: #e5e7eb;
    text-align: left;
    margin: 3px;
}


button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-top: 2px;
}

/* styling for the info section*/
.info {
    border: 2px solid red;
}


.pic-container {
    border: 2px solid red;
    margin: 0 200px;
    display: flex;
    flex-direction: column;
    text-align: center;

}


.pic-container h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    
}


.pics-box {
    display: flex;
    justify-content: center;
    margin: 0 3px;
}


.pics-box img {
    border: 2px solid blue;
    border-radius: 10px;
    height: 5rem;
    width: 5rem;
    
}


/* styling for the quote section*/
#quote {
    background-color: #e5e7eb;
    color: #1f2937;
}


/* styling for the contact section*/
.contact-me {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-me div {
    display: flex;
}
.contact-me img {
    height: auto;
    width: 50px;
}


footer {
    background-color: #1f2937;
    color: white;
    height: 5vh;
}